@import 'tailwindcss';

@layer utilities {
  .clip-chamfer-tech {
    clip-path: polygon(
      10px 0,
      calc(100% - 4px) 0,
      100% 4px,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      4px 100%,
      0 calc(100% - 4px),
      0 10px
    );
  }
}

:root {
  font-family: 'Space Mono', sans-serif;
}

/* 隐藏数字输入框的步进按钮 */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
